*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}

header{
	position: absolute;
	z-index: 1100;
	width: 100%;
}
.sticky{
	width: 100%;
	position: fixed;
	background: rgba(44 44 44/100%);
	z-index: 1200;
}
.logo{
	margin-left: 20px;
}
header ul li a{
	color: white!important;
	font-size: 15px;
	font-weight: 500;
}
.dropdown-item{
	color: black!important;
	font-size: 15px!important;
	font-weight: 500!important;
}
.d-flex h4{
	font-size: 16px!important;
	font-weight: 500!important;
	color: #fff;
}
.d-flex h4::after{
	position: absolute;
	content: " ";
	left: ;
	bottom: 31%;
	right: .8%;
	height: 4%;
	width: 5.5%;
	background: #ffe8c3;
}





.banner{
	position: relative;
	z-index: 1000;
}
.banner-1{
	padding: 80px;
	height: 100vh;
	background: url(../img/banner.png) center no-repeat;
	position: relative;
	z-index: 1001;
}
.banner-2{
	padding: 80px;
	height: 100vh;
	background: url(../img/banner2.png) center no-repeat;
	position: relative;
	z-index: 1001;
}
.banner-items{
	position: relative;
	z-index: 2000;
}
.banner-items .banner-text{
	padding: 18% 0px;
}
.banner-items .banner-text h3{
	font-family: "Poppins", sans-serif;
	font-size: 60px;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 60px;
	font-weight: 600;
	line-height: 70px;
	margin-bottom: 27px;
	color: #fff;
}
.banner-items .banner-text button{
	display: inline-block;
	padding: 19px 50px;
	font-size: 14px;
	font-weight: 500;
	border: 0;
	text-align: center;
	color: #001D38;
	background: #FFE8C3;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.banner-items .banner-text button:hover{
	background: #001D38;
	color: #fff !important;
}
.overlay{
	position: absolute;
    content: " ";
    background-color: #001D38;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    opacity: .3;
}




.features{

}
.features .container-fluid{
	margin: 0;
	padding: 0;
}
.features .sec-1{
	background: #fff;
	padding: 65px 85px;
	color: #EAEAEA;
	transition: .3s;
}
.overlay2{
	position: absolute;
    content: " ";
}
.features .sec-1:hover{
	background: url(../img/2.png) center no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1000;
	transition: .3s;
}
.features .sec-1:hover .overlay2{
	opacity: .6!important;
	transition: .3s;
	background-color: #001D38;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    opacity: 0;
}

.features .sec-1:hover h2{
	color: white;
	position: relative;
	z-index: 1400;
	transition: .3s;
}
.features .sec-1:hover p{
	color: white;
	position: relative;
	z-index: 1400;
	transition: .3s;
}
.features .sec-1:hover h1{
	position: relative;
	z-index: 1400;
	transition: .3s;
}
.features .sec-1 h2{
	font-size: 30px;
	color: #001D38;
	font-weight: 500;
	margin-bottom: 10px;
	padding-left: 45px;
	position: relative;
}
.features .sec-1 h2::after{
	position: absolute;
	content: " ";
	left: ;
	bottom: 45%;
	right: 87.8%;
	height: 11%;
	width: 10.5%;
	background: #ffe8c3;
}
.features .sec-1 p{
	margin-bottom: 10px;
	padding-left: 45px;
	color: #fff;
	margin-bottom: 80px;
}
.features .sec-1 h1{
	font-size: 179px;
 	font-weight: 500;
	color: rgba(229, 232, 234, .4);
	margin-bottom: 8px;
}

.features .sec-2{
	background: #fff;
	padding: 65px 85px;
	color: #EAEAEA;
	transition: .3s;
}
.features .sec-2:hover{
	background: url(../img/1.png) center no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1000;
	transition: .3s;
}
.features .sec-2:hover .overlay2{
	opacity: .6!important;
	transition: .3s;
	background-color: #001D38;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    opacity: 0;
}

.features .sec-2:hover h2{
	color: white;
	position: relative;
	z-index: 1400;
	transition: .3s;
}
.features .sec-2:hover p{
	color: white;
	position: relative;
	z-index: 1400;
	transition: .3s;
}
.features .sec-2:hover h1{
	position: relative;
	z-index: 1400;
	transition: .3s;
}
.features .sec-2 h2{
	font-size: 30px;
	color: #001D38;
	font-weight: 500;
	margin-bottom: 10px;
	padding-left: 45px;
}
.features .sec-2 h2::after{
	position: absolute;
	content: " ";
	left: ;
	bottom: 45%;
	right: 87.8%;
	height: 11%;
	width: 10.5%;
	background: #ffe8c3;
}
.features .sec-2 p{
	margin-bottom: 10px;
	padding-left: 45px;
	color: #fff;
	margin-bottom: 80px;
}
.features .sec-2 h1{
	font-size: 179px;
 	font-weight: 500;
	color: rgba(229, 232, 234, .4);
}





.features .sec-3{
	background: #fff;
	padding: 65px 85px;
	color: #EAEAEA;
	transition: .3s;
}
.features .sec-3:hover{
	background: url(../img/3.png) center no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1000;
	transition: .3s;
}
.features .sec-3:hover .overlay2{
	opacity: .6!important;
	transition: .3s;
	background-color: #001D38;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    opacity: 0;
}

.features .sec-3:hover h2{
	color: white;
	position: relative;
	z-index: 1400;
	transition: .3s;
}
.features .sec-3:hover p{
	color: white;
	position: relative;
	z-index: 1400;
	transition: .3s;
}
.features .sec-3:hover h1{
	position: relative;
	z-index: 1400;
	transition: .3s;
}
.features .sec-3 h2{
	font-size: 30px;
	color: #001D38;
	font-weight: 500;
	margin-bottom: 10px;
	padding-left: 45px;
}
.features .sec-3 h2::after{
	position: absolute;
	content: " ";
	left: ;
	bottom: 45%;
	right: 87.8%;
	height: 11%;
	width: 10.5%;
	background: #ffe8c3;
}
.features .sec-3 p{
	margin-bottom: 10px;
	padding-left: 45px;
	color: #fff;
	margin-bottom: 80px;
}
.features .sec-3 h1{
	font-size: 179px;
 	font-weight: 500;
	color: rgba(229, 232, 234, .4);
}





.works{
	background: #f5fbff;
	color: #001D38;
	padding-top: 180px;
	padding-bottom: 330px;
}
.works h1{
	font-size: 50px;
	font-weight: 500;
	color: #001D38;
	padding-bottom: 0;
}
.work-title{
	margin-top: -250px;
}
.work-title .row{
	align-items: center;
	padding-bottom: 80px;
}
.work-title .work-right{
	padding-left: 68px;
}
.work-title .work-left{
	padding-right: 68px;
}
.work-title .work-right h2, .work-title .work-left h2{
	font-size: 30px;
	font-weight: 500;
	color: #001D38;
}
.work-title .work-right p, .work-title .work-left p{
	color: #596672;
	margin-top: 12px;
	margin-bottom: 38px;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.work-title .work-right button, .work-title .work-left button{
	color: #fff !important;
	display: inline-block;
	padding: 14px 47px;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #001D38;
	border-radius: 0px;
	text-align: center;
	text-transform: capitalize;
	background: #001D38;
	letter-spacing: 2px;
	text-decoration: none;
}
.work-title .work-right button:hover, .work-title .work-left button:hover{
	background: #FFE8C3!important;
	color: #001D38!important;
	transition: .3s;
}



.about{
	padding-top: 80px;
}
.about .about-right{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 96px;
}
.about .about-right h1{
	font-size: 40px;
	font-weight: 500;
	color: #001D38;
	padding-bottom: 0;
}
.about .about-right p{
	font-size: 16px;
	color: #727272;
	line-height: 28px;
	margin-bottom: 0;
	font-weight: 400;
}
.about .about-right button{
	color: #fff !important;
    display: inline-block;
    padding: 14px 47px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #001D38;
    border-radius: 0px;
    text-align: center;
    text-transform: capitalize;
    background: #001D38;
    letter-spacing: 2px;
}
.about .about-right button:hover{
	background: #FFE8C3!important;
	color: #001D38!important;
	transition: .3s;
}
.prog{
	margin-top: 28px;
	margin-bottom: 60px;
}
.prog h3{
	font-size: 16px;
	color: #001D38;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 20px;
	line-height: 1.2em;

}
.prog .stat1{
	font-size: 16px;
	color: #001D38;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 20px;
	line-height: 1.2em;
	text-align: right;
	width: 10%;
	display: inline-block;
}
.prog .stat2{
	font-size: 16px;
	color: #001D38;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 20px;
	line-height: 1.2em;
	text-align: right;
	width: 26%;
	display: inline-block;
}
.prog .stat3{
	font-size: 16px;
	color: #001D38;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 20px;
	line-height: 1.2em;
	text-align: right;
	width: 58%;
	display: inline-block;
}
.prog .line{
	background: #001D38;
	height: 4px;
	width: 60%;
}
.prog .line2{
	background: #001D38;
	height: 4px;
	width: 65%;
}
.prog .line3{
	background: #001D38;
	height: 4px;
	width: 80%;
}



.overlay3{
	position: absolute;
    content: " ";
    background-color: #001D38;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    opacity: .6;
}
.comments{
	background: url(../img/bg.png) no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 1000;
	padding: 84px 0px;
}
.com-slider{
	position: relative;
	z-index: 9999;
}
.comments img{
	width: auto!important;
	display: initial!important;
	margin-bottom: 15px;
}
.comments-items{
	text-align: center!important;
}
.comments-items h6{
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	margin: 34px 0;
}
.comments-items h4{
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 5px;
}
.comments-items h5{
    font-size: 13px;
    font-weight: 400;
    color: #fff
}


.instagram{
	padding-top: 180px;
	padding-bottom: 150px;
	text-align: center;
}
.instagram-items h1{
	font-size: 50px;
	font-weight: 500;
	color: #001D38;
	padding-bottom: 0;
	margin-bottom: 70px;
}



footer{
	background: #001D38;
	position: relative;
	z-index: 1000;
}
.footer-items .footer-top{
	padding-top: 100px;
	padding-bottom: 20px;
	border-bottom: 1px solid #334A60;
}
.footer-items .footer-top .footer-top-left{
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 30px;
	padding-right: 10%;
}
.footer-items .footer-top .footer-top-left h2{
	line-height: 52px;
}
.footer-items .footer-top .footer-top-left h2 span{
	color: #FFD35A;
}
.footer-items .footer-top .footer-top-left h2 span:hover{
	text-decoration: underline;
	transition: .3s;
}
.footer-items .footer-top .footer-top-right{
	text-align: right;
}
.footer-items .footer-top .footer-top-right h2{
	margin-top: 0;
	margin-bottom: .5rem;
	line-height: 52px;
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 8px;
}
.footer-items .footer-top .footer-top-right h3{
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: white;
	margin-bottom: 0px;
}

.footer-bottom{
	padding-top: 100px;
	padding-bottom: 129px;
}
.footer-bottom .foot-items h4{
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 40px;
}
.footer-bottom .foot-items p{
	color: #d5d5d5!important;
	font-size: 13px;
	font-weight: 400;
	line-height: 28px;
}
.footer-bottom .foot-items p a:hover{
	color: #FFE8C3!important;
}
.footer-bottom .form-items{
	position: relative;
	z-index: 1200;
	margin-bottom: 20px;
}
.footer-bottom .foot-items input{
	width: 100%;
	height: 50px;
	background: transparent;
	padding-left: 20px;
	font-size: 15px;
	color: #fff;
	border: none;
	border: 1px solid #334A60;
	border-radius: 30px;
	padding-right: 130px;
	position: relative;
	z-index: 1500;
}
.footer-bottom .foot-items button{
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	border: none;
	font-size: 14px;
	color: #001D38;
	background: #FFE8C3;
	padding: 10px;
	padding: 0 22px;
	border-radius: 30px;
	top: 5px;
	right: 5px;
	font-size: 14px;
	font-weight: 500;
	z-index: 2000;
}

.foot-bottom{
	text-align: center;
	padding: 30px;
}
.foot-bottom p{
	font-size: 14px;
	color: #919191;
	margin-bottom: 0;
	font-weight: 400;
}
.foot-bottom p a{
	color: #FFE8C3!important;
}
